#
# This is a U-Boot gitdm configuration file.
#

#
# EmailAliases lets us cope with developers who use more
# than one address.
#
EmailAliases u-boot-config/aliases

#
# EmailMap does the main work of mapping addresses onto 
# employers.
#
EmailMap u-boot-config/domain-map

#
# Use GroupMap to map a file full of addresses to the 
# same employer
#
# GroupMap u-boot-config/illuminati  The Illuminati
#
#
# Use FileTypeMap to map a file types to file names using regular
# regular expressions.
#
FileTypeMap sample-config/filetypes.txt
